*{
    margin: 0;   
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
   
   }


#cabecalho{
   background: #9dddd0;
   height: 100PX;
 
}
   
#secao{
    padding-top:100px ;
}

#titulo{
    font-family: 'GFS Didot', serif;
    font-size: 45px;
    color:white;
    margin-top: 20px;
}

h3{
    text-align: center;


}
#menu ul {
    display: flex;
    justify-content: end;
    padding-top: 50px;
}

#menu ul li {
    padding-left: 40px;
}

#menu ul li a {
    color:white;
}

#menu a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #3dc8e8;
    transition: background-color 1s;
}

section p{
    font-size: 18px;
}

main{
    text-align: justify;
    padding-bottom: 120px;
}


#leia{
    background-color:#1f8976;
}


.rede{
    color: white;
}



footer{
       height: 158px;
       background-color: #c1aee2;
       color:white;
       padding-top: 30px;
       padding-bottom: 32px;
       
}


